[Unit]
Description=Bingtang HomeBridge
After=network-online.target
Wants=network-online.target

[Service]
Type=idle
User=pi
WorkingDirectory=/home/pi
ExecStart=/usr/bin/python3 /home/pi/bintang.py

[Install]
WantedBy=network-online.target
